ENV=local
URL=http://richlists.local

ADMIN_EMAIL=

DB_HOST=
DB_DBNAME=
DB_USERNAME=
DB_PASSWORD=

CLIO_SERVER=
SLACK_TOKEN=

# Add one or more wallets per project that should be ignored, divide with comma's: wallet1,wallet2,etc
#WALLETS_IGNORE_[PROJECT]=

# API keys with project slug as value
#API_ABC123DEFG=projectslug
#API_XYZ987NMLK=anotherproject
# etc...
