ErrorDocument 403 /403.html

# Disable Directory listing
Options -Indexes

# block files which needs to be hidden, specify .example extension of the file
<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On
RewriteRule \.(css|jpe?g|gif|png|js|ico)$ - [L]
RewriteRule ^([a-z0-9-]+)/?$ index.php?action=$1 [NC,L,QSA]
RewriteRule ^(user)/([a-z0-9-]+)?$ index.php?action=$1&project=$2 [NC,L,QSA]
RewriteRule ^(project)/([a-z0-9-]+)?$ index.php?action=$1&project=$2 [NC,L,QSA]
RewriteRule ^(project)/([a-z0-9-]+)/([a-z]+)?$ index.php?action=$1&project=$2&chain=$3 [NC,L,QSA]
RewriteRule ^(json)/([a-z]+)/([a-z]+)/([A-Z0-9]{24})/?$ index.php?action=$1&project=$2&chain=$3&api=$4 [NC,L,QSA]
RewriteRule ^(html)/([a-z]+)/([a-z]+)/([A-Z0-9]{24})/?$ index.php?action=$1&project=$2&chain=$3&api=$4 [NC,L,QSA]
RewriteRule ^(html)/([a-z]+)/([a-z]+)/([A-Z0-9]{24})/([^/]*)/?$ index.php?action=$1&project=$2&chain=$3&api=$4&css=$5 [NC,L,QSA]
