@font-face {
    font-family: 'novamonoregular';
    src: url('../fonts/kodemono-variablefont_wght-webfont.eot');
    src: url('../fonts/kodemono-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kodemono-variablefont_wght-webfont.woff2') format('woff2'),
    url('../fonts/kodemono-variablefont_wght-webfont.woff') format('woff'),
    url('../fonts/kodemono-variablefont_wght-webfont.ttf') format('truetype'),
    url('../fonts/kodemono-variablefont_wght-webfont.svg#novamonoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'novamonoregular', sans-serif;
    background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 150px, rgba(0,0,0,1) 100%) no-repeat;
}

nav.navbar {
    background-color: #111111;
}
nav .nav-link, nav .nav-link:active, nav .nav-link:visited, nav .nav-link:link {
    color: #ffffff;
    font-size: 18px;
}
nav .nav-link:hover {
    color: #ffff11;
}
.container-fluid.logged-in {
    padding: 10px 0;
    background-color: #ffc107;
    color: #000000;
}
.container-fluid.logged-in a,
.container-fluid.logged-in a:hover {
    text-decoration: none;
    color: #000000;
}
table.table {
    border: 10px solid #ffffbc;
}
@media (max-width: 576px) {
    .row.row-richlist {
        margin: 0;
        display: block;
    }
    table.table {
        border: 5px solid #ffffbc;
    }
}
table.table tr td {
    color: #ffffe9;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 15px 20px;
    border-bottom: 2px solid #ffffbc;
}
.wallet-full {
    display: block;
}
.wallet-trimmed {
    display: none;
}
.hide {
    display: none;
}
table.table tr td .btn.btn-primary {
    background-color: #63a2ff;
    border-color: #63a2ff;
    font-size: 20px;
    font-weight: bold;
    color: #ffffe9;
    margin-top: -5px;
}
h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
}
h2 {
    color: #ffffe9;
    text-align: center;
    margin-top: 30px;
}
h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}
p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
ul li {
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0;
}
hr {
    color: #ffffff;
}
ul.nav li.nav-item {
    margin: 0;
}
ul.nav li.nav-item a,
ul.nav li.nav-item a:hover {
    border: none;
}
ul.nav li.nav-item a.active {
    background-color: #ffffbc;
}
ul.nav li.nav-item a.disabled {
    color: #666666;
}
.footer {
    background-color: #444444 !important;
}
.home-money-smiley {
    font-size: 80px;
    text-align: center;
}
.card {
    background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 150px, rgba(0,0,0,1) 100%);
    text-align: center;
    border: none;
    color: #ffffff;
    margin-bottom: 100px;
    margin-top: 25px;
}
pre {
    color: white;
    margin: 0 20px;
}

/**
 * Mobile/Smartphone
 */
@media (max-width: 767px) {
    .wallet-full {
        display: none;
    }
    .wallet-trimmed {
        display: block;
    }
    .row.row-richlist table.table tr td {
        padding: 8px 5px 8px 5px;
    }
    .row.row-richlist .col {
        padding: 0;
    }
    .row.row-richlist .btn.btn-primary {
        padding: 2px 4px;
        margin: 0;
    }
}

form .invalid-feedback {
    color: #ffbcc3;
}

